<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Skup podataka o tehnološkim kompanijama, uključujući proizvode, osnivače, godine osnivanja i druge relevantne podatke. Ovi podaci mogu biti korisni za analizu tržišta i istraživanje trendova u industriji.">
    <meta name="author" content="Tomislav Kušek">
    <meta name="publisher" content="Tomislav Kušek">
    <meta name="license" content="Creative Commons Zero (CC0 1.0 Universal)">
    <meta name="version" content="1.0">
    <meta name="language" content="Hrvatski">
    <meta name="release_date" content="2024-10-27">
    <meta name="title" content="Skup podataka o tehnološkim kompanijama">
    <meta name="keywords" content="tehnološke kompanije, proizvodi, osnivači, godina osnivanja, tržište, istraživanje trendova">
    <title>Profil</title>
</head>
<body id="body">
    <script src="/scripts/profil.js"></script>
</body>
</html>